<!doctype html>
<html layout:decorate="~{varda/pohja-kaikki-kielet}">
<head>
    <title th:text="#{rekisteroityminen.kayttaja.otsikko}">otsikko</title>
</head>
<body>
<div layout:fragment="sisalto">
    <div th:each="locale,iterStat: ${locales}">
        <span th:text="${messageSource.getMessage('hei', null, locale)}">Hei</span>,<br>
        <span th:text="${messageSource.getMessage('rekisteroityminen.kayttaja.teksti', organisaatioNimi, locale)}">teksti</span>
        <p th:text="${messageSource.getMessage('rekisteroityminen.kayttaja.lisatieto', null, locale)}">lisätieto</p>
        <p th:text="${messageSource.getMessage('rekisteroityminen.kayttaja.tietosuoja', null, locale)}">tietosuoja</p>
        <span th:text="${messageSource.getMessage('terveisin', null, locale)}">Terveisin</span><br/>
        <span th:text="${messageSource.getMessage('asiakaspalvelu', null, locale)}">Vardan asiakaspalvelu</span><br/>
        <span th:text="${messageSource.getMessage('opetushallitus', null, locale)}">Opetushallitus</span>
        <div th:if="${!iterStat.last}">***</div>
    </div>
</div>
</body>
</html>
