.rekisteroinnit {
    margin: 2em 4em;
}

.vasen {
    clear: left;
    float: left;
    width: 25%;
}

.oikea {
    clear: right;
    float: left;
    width: 75%;
}

.suodata {
    max-width: 20em;
    border-radius: 24px;
    border-style: none;
    background-color: #f0f0f0;
}

.suodataIcon {
    color: darkgray;
    font-weight: lighter;
}

.tilaTabit {

}

a.nappi {
    border-radius: 4px;
    border-color: #159ecb;
    background-color: #159ecb;
    padding: 6px 16px;
    color: #ffffff;
    text-decoration: none;
    float: left;
}

a.nappiDisabled {
    pointer-events: none;
    opacity: 0.5;
}
