td {
    min-width: 9em;
    padding: 0.3em;
    vertical-align: top;
}

td.kapea {
    min-width: fit-content;
    max-width: fit-content;
    white-space: nowrap;
}

td.nimi {
    min-width: 11em;
}

td.kunnat {
    max-width: 33%;
}

td.aikaleima {
    text-align: right;
    white-space: nowrap;
    max-width: fit-content;
}

td.rivinInfoNappi {
    cursor: pointer;
    width: 1%;
    min-width: min-content;
}

