.status {
    position: absolute;
    top: 0.5em;
    right: 0;
    color: white;
    background-color: #55AA55;
    padding: 0.75em;
    box-shadow: 2px 2px 2px 1px #777777;
}

.teksti {
    display: inline;
    line-height: 1.45em;
    font-size: 110%;
    font-weight: bolder;
    vertical-align: top;
    margin-left: 1em;
    margin-right: 2em;
}

.passiivinen {
    visibility: hidden;
}

.nayta {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms linear;
}

.piilota {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}
