organisaatio-app/overlays/
.idea/
target/
**/target
.project
**/.project
bin/
**/bin
.settings/
*~
**/*~
.classpath
**/.classpath
*/log
*.iml
nb-configuration.xml
playwright/*.xlsx
**/build
/organisaatio-api/build
/organisaatio-service/build
**/.gradle
**/pom.xml.versionsBackup
**/*.orig
solr-data/
organisaatio-service/INFOSTREAM.txt
node_modules/
node/
.DS_Store
dev.properties

cdk.out/
cdk.context.json
