<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="STDOUT-CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>CONSOLE: %d{ISO8601} %-5p [%t] %c: %m%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT-APP" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>APP:     %d{ISO8601} %-5p [%t] %c: %m%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT-AUDIT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>AUDIT:   %d{ISO8601} %-5p [%t] %c: %m%n</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/${NAME}-console.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/${NAME}-console.cloud.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>20MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{ISO8601} %-5p [%t] %c: %m%n</pattern>
        </encoder>
    </appender>
    <appender name="APP" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/oph-${NAME}.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/oph-${NAME}.cloud.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>20MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{ISO8601} %-5p [%t] %c: %m%n</pattern>
        </encoder>
    </appender>
    <appender name="AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/auditlog_organisaatio2.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/auditlog_organisaatio2.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="fi.vm" level="INFO" additivity="false">
        <appender-ref ref="APP"/>
        <appender-ref ref="STDOUT-APP"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="STDOUT-CONSOLE"/>
    </root>
    <logger name="fi.vm.sade.organisaatio.service.aspects.AuditLogAspect" level="INFO" additivity="false">
        <appender-ref ref="AUDIT"/>
        <appender-ref ref="STDOUT-AUDIT"/>
    </logger>

</configuration>

