<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="STDOUT-CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSX} %X{requestId:--} %-5p {%X{user}} [%t] %-5p %c: %m%n</pattern>
        </encoder>
    </appender>
    <appender name="AUDIT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT-CONSOLE"/>
    </root>
    <logger name="fi.vm.sade.kayttooikeus.config.AuditlogConfiguration" level="INFO" additivity="false">
        <appender-ref ref="AUDIT"/>
    </logger>
</configuration>