.BodyKehys {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.Rivi {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1.5rem;
    justify-content: space-between;
}

.PitkaInput {
    max-width: 25rem;
    flex-grow: 1;
    margin-right: 10rem;
}

.FooterRivi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.FooterButton:last-child {
    margin-left: 1rem;
    margin-right: 2rem;
}