.infoList {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 12px 12px 28px;
    background: var(--gray-header-background);
    line-height: 26px;
}

.info {
    width: 100%;
    padding: 12px;
    background: var(--gray-header-background);
    line-height: 26px;
}

.buttons {
    display: flex;
    justify-content: end;
    margin-top: 66px;
}

.cancelButton {
    padding: 13px 79px;
    border: none;
    background: var(--white);
    color: var(--green);
    cursor: pointer;
    font-weight: 600;
}

.addEmailButton {
    display: flex;
    padding: 13px 13px 13px 0;
    border: none;
    background: var(--white);
    color: var(--green);
    cursor: pointer;
    font-weight: 600;
    line-height: 24px;
}

.addEmailButton > svg {
    margin-right: 6px;
}

.postitoimipaikka {
    height: 22px;
}

.emailInput {
    height: 38px;
    width: 100%;
    padding: 2px 8px;
    border-radius: 2px;
    border: 1px solid var(--light-gray);
    margin: 1px;
}

.errorInput {
    border: 2px solid var(--red-error);
    margin: 0;
}
