.pageBase {
    background: #F2F2F2;
    padding: 0 4rem 0 4rem;
    min-height: 87vh;
}

.rekisterointiOsio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lisaaHakemusOsio {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2em;
}

.lisaaHakemusOsio div {
    margin: 0 1em 1em 0;
}

.tilaTabit {
    margin-left: 2em;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    .rekisteroinnit {
         margin-left: 1em;
         margin-right: 1em;
    }
    .tilaTabit {
        margin-left: 0;
    }
}

@media screen and (min-width: 1000px) {
    .rekisteroinnit {
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
}

.suodata.suodata {
    width: 20em;
    border-radius: 24px;
    border-style: none;
    background-color: #f0f0f0;
}

.suodataIcon {
    color: darkgray;
    font-weight: lighter;
}

a.nappi {
    height: 100%;
    border-radius: 4px;
    border-color: #0A789C;
    background-color: #0A789C;
    padding: 6px 16px;
    color: #ffffff;
    text-decoration: none;
}

a.nappiDisabled {
    pointer-events: none;
    opacity: 0.5;
}
