.PaaOsio {
    margin: 3rem 5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
}

.OtsikkoContainer {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #CCCCCC;
    align-items: center;
}

.TaulukkoContainer {
    padding: 2rem;
    display: block;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}


.TaulukkoContainer td {
    height: 3rem;
   /* width: 1%; */
}

.TaulukkoContainer td.collapse {
   /* width: 0.0000000001%; */
}

.PaginationContainer {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.PaginationSivunvaihto  {
    margin: auto;
}
.PaginationYhteensa {
    align-self: flex-end;
}

.NaytaSivullaSelect {
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    width: 2rem;
    background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right;
    background-position-x: 0.7rem;
}

.LippuNappi {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.SininenTausta {
    background: #159ECB;
}
.PunainenTausta {
    background: #e44e4e;
}


.Expander.Expander {
    padding-right: 1rem;
}