.PaaOsio {
    margin: 3rem 5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

.OtsikkoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #cccccc;
    align-items: center;
}

.TaulukkoContainer {
    padding: 2rem;
    display: block;
    max-width: 100%;
}

.TaulukkoContainer td {
    height: 3rem;
    /* width: 1%; */
}

.TaulukkoContainer td.collapse {
    /* width: 0.0000000001%; */
}
