.YlaBanneri {
    box-sizing: border-box;
    height: 6rem;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.YlaBanneri > div {
    padding-right: 1rem;
}

.AlaBanneri {
    height: 6rem;
    background-color: #FFFFFF;
    border-top: 2px solid #159ECB;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 5rem;
}

.AlaBanneri button:first-of-type {
    margin-right: 1rem;
}

.PaaKehys {
    flex-grow: 1;
    margin: 1rem 5rem;
}

.PaaOsio {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #ffffff;
    border: 1px solid #CCCCCC;
    padding-bottom: 2rem;

}

.ValiOtsikko {
    display: flex;
    flex-direction: column;
}

.OtsikkoRivi {
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #CCCCCC;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 1rem;
}
.Otsikko {
    margin-left: 2rem;
}


.Kentta {
    margin-right: 1rem;
    max-width: 40rem;
    flex-grow: 1;
}
.PitkaInput {
    max-width: 25rem;
    flex-grow: 1;
}

.Rivi {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.AlinRivi {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-top: 1rem;
    margin-top: 2rem;
    border-top: 1px solid #CCCCCC;

}

.AlinRivi button:first-of-type {
    margin-right: 1rem;
}

.OidRivi {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.FixedWidthLabel {
    width: 5rem;
}

.OrganisaatioMonivalinta {
    margin-left: 5rem;
    margin-top: 1rem;
}

.OrganisaatioMonivalinta > div {
    margin-top: 0.5rem;
}

.MonivalintaKentta {
    margin-left: 5rem;
}

.MonivalintaKentta > div:last-child {
    margin-left: 1.5rem;
}

.MonivalintaKentta > div {
    margin-top: 0.5rem;
}

.AvainKevyestiBoldattu {
    font-weight: 700;
}

.ReadOnly {
    font-size: 16px;
    -webkit-appearance: none;
    border: none;
    margin-left: 13rem;
}
