.HakutulosTable {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

.Table {
    border-spacing: 0;
}

.Header {
    color: var(--color-neutral-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Header tr td {
    border-bottom: 1px solid var(--color-gray-gray-lighten-3);
    background: var(--color-neutral-white);
    padding: 16px 24px 10px 8px;
    height: 18px;
}

.Body {
    /* Regular 16 */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.Body tr:nth-child(odd) { background: var(--color-neutral-white); }
.Body tr:nth-child(even) { background: var(--FAFAFA); }

.Body tr td {
    padding: 8px 24px 8px 8px;
    height: 34px;
    overflow: hidden;
}

.Fade {
    position: relative;
}

.Fade:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
tr:nth-child(odd) .Fade:before {
    background: linear-gradient(to right, transparent 90%, var(--color-neutral-white) 95%);
}
tr:nth-child(even) .Fade:before {
    background: linear-gradient(to right, transparent 90%, var(--FAFAFA) 95%);
}

.Checkbox {
    padding-right: 8px;
}

.ColumnCheckbox { max-width: 448px; }
.ColumnEmail { max-width: 344px; }
.ColumnYritysmuoto { max-width: 160px; }
.ColumnOid, .ColumnOsoite { max-width: 240px; }