.HakutulosTable {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    height: calc(44px + 10 * 50px);
}

.Header {
    position: sticky;
    display: flex;
    color: var(--color-neutral-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Header > div {
    flex-shrink: 0;
    background: var(--color-neutral-white);
    border-bottom: 1px solid var(--color-gray-gray-lighten-3);
    padding: 16px 24px 10px 8px;
}

.Body {
    display: flex;
    /* Regular 16 */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.Even {
    background: var(--color-neutral-white);
}
.Odd {
    background: var(--FAFAFA);
}

.Body > div {
    flex-shrink: 0;
    padding: 8px 24px 8px 8px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}

.Body label {
    vertical-align: middle;
}

.Fade {
    position: relative;
    mask-image: linear-gradient(90deg, #000 80%, transparent);
}

.Checkbox {
    padding-right: 8px;
}

.ColumnCheckbox {
    width: 448px;
}
.ColumnEmail {
    width: 344px;
}
.ColumnShortInfo {
    width: 160px;
}
.ColumnOid,
.ColumnOsoite {
    width: 240px;
}
.ColumnHalf {
    width: 628px;
}
