.LinklikeButton {
    color: var(--color-primary-blue);

    cursor: pointer;

    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */

    display: flex;
    gap: 6px;
    align-items: center;
    justify-items: center;
}

.LinklikeButtonDisabled {
    color: var(--color-semantics-disabled);
}
