@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-neutral-black: #2A2A2A;
    --color-neutral-white: #FFF;
    --FAFAFA: #FAFAFA;
    --color-primary-blue: #0A789C;
    --color-primary-blue-lighten-4: #DEF2FF;
    --color-gray-gray: #666;
    --color-gray-gray-lighten-1: #999;
    --color-gray-gray-lighten-3: #CCC;
    --color-gray-gray-lighten-6: #F0F3F7;
    --text-text-paragraph: #666;
    --text-text-heading: #2A2A2A;

    --color-semantics-disabled: #999;
    --color-semantics-partial: #FFD024;
    --color-semantics-error: #DB2828;

}

body {
    margin: 0;
    background: var(--color-gray-gray-lighten-6);
}

.OsoitteetSivu {
    display: flex;
    flex-direction: column;
    color: var(--color-neutral-black);

    background: var(--color-gray-gray-lighten-6);
    font-family: Roboto, Arial Unicode MS, Arial, sans-serif;
}

.ContentContainer {
    max-width: 1152px;
}
.WideContentContainer {
    max-width: 1320px;
}

.Header {
    background: var(--color-neutral-white);
    height: 71px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: var(--text-text-paragraph, #666);
    /* Regular 16 */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

}

.Header p {
    width: 100%;
}

.MainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 40px 0;
}