.SearchView {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.Title {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
}

.Section {
    /* Layout */
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.SectionTitle {
    margin-bottom: 16px;
}

.SectionTitle h2 {
    flex-grow: 1;

    color: var(--color-primary-blue);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.KohderyhmaSelections {
    /* Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
}

.KohderyhmaColumn {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.Kohderyhma {
    /* Layout */
    display: flex;
    width: 372px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    /* Style */
    color: var(--color-neutral-black);
    border-radius: 3px;
    background: #FFF;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.17);
}

.Kohderyhma.Selected {
    border-radius: 3px;
    border: 2px solid var(--color-primary-blue);
    background: #FFF;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.17);
}
.Kohderyhma.Selected h3 {
    color: var(--color-primary-blue);
}

.Kohderyhma.Disabled {
    border-radius: 3px;
    border: 2px solid var(--color-gray-gray-lighten-3);
    background: #FFF;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.17);

    color: var(--color-gray-gray-lighten-1);
}
.Kohderyhma.Disabled h3 {
    color: var(--color-gray-gray-lighten-1);
}

.KohderyhmaOtsikko {
    display: flex;
    width: 324px;
    align-items: flex-start;
    gap: 16px;
}

.KohderyhmaOtsikko h3 {
    /* Medium 20 */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.KohderyhmaKuvaus {
    /* Layout */
    display: flex;
    padding-left: 36px;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    /* Regular 14 */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    letter-spacing: 0.035px;
}

.ErrorRow {
    align-self: baseline;
}

.ButtonRow {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 16px;
}
.ButtonRow button[variant=outlined] {
    background-color: white;
}

.RajausAccordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: var(--color-neutral-white);
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.17);
}

.RajausAccordion .AccordionTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    width: 100%;
    height: 72px;
    box-sizing: border-box;
    padding: 0 32px;
}

.RajausAccordion .AccordionTitle h3 {
    color: var(--color-neutral-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.RajausAccordion .AccordionTitle .AccordionSelectionDescription {
    flex-grow: 1;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--color-gray-gray);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.RajausAccordion .AccordionTitle .AccordionButton {
}

.RajausAccordion .AccordionContentContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 0 32px;
}
.RajausAccordion .AccordionContentContainer .AccordionContent {
    width: 100%;
    box-sizing: border-box;
    padding: 24px 0 32px 0;
    border-top: 1px solid var(--color-gray-gray-lighten-3);
}

.RajausAccordion .AccordionContentContainer ul {
    column-count: 3;
    list-style: none;
    padding: 0;
    margin: 0;
}
.RajausAccordion .AccordionContentContainer ul li {
    padding-left: 0;
    padding-top: 4px;
    margin-bottom: 8px;
}
