.SelectDropdown {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Select {
    max-width: 400px;
}

.Option {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 8px;
    gap: 8px;
    height: 34px;
    color: var(--color-gray-gray);
    cursor: pointer;

    /* Regular 16 */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.SelectionList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.Selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 6px;

    padding: 8px;
    border-radius: 3px;
    height: 14px;

    background: var(--color-primary-blue);
    color: var(--color-neutral-white);

    /* Typography */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.Selection svg {
    cursor: pointer;
}
