.SelectDropdown {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Select {
    max-width: 400px;
}

.Option {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-wrap: nowrap;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 8px;
    gap: 8px;
}

.OptionCheckbox {
    /* Icon is 20px, line height 24px,
       a 2px margin is needed to align with the first line of text
       */
    margin-top: 2px;
    height: 20px;
}

.OptionText {
    color: var(--color-gray-gray);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.SelectionList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.Selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 6px;

    padding: 4px 8px;
    border-radius: 3px;

    background: var(--color-primary-blue);
    color: var(--color-neutral-white);

    /* Typography */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.Selection svg {
    cursor: pointer;
}
