.ModalishBox {
    min-width: 700px;
    border-radius: 3px;
    background: var(--color-neutral-white);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.17);

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px 0px 48px 0px;
    gap: 40px;
}

.ModalishBox.Queued {
    border-top: 4px solid var(--color-semantics-partial);
}
.ModalishBox.Sent {
    border-top: 4px solid var(--color-primary-blue);
}

.ModalishBox .Content {
    width: 478px;
    text-align: center;
    color: #666;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.ModalishBox .Content h1 {
    color: #2A2A2A;
    text-align: center;

    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
}

.ModalishBox .ButtonRow {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}