.ViestiView {
    --border-color: var(--color-gray-gray-lighten-3);
    --border-radius: 4px; /* 3px Figmassa, mutta 4px muissa lomakkeen tyyleissä */

    width: 848px;
    padding: 32px 32px 32px 32px;
    color: var(--color-neutral-black);
    background: var(--color-neutral-white);
    border-radius: 3px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.17);
}

.Header{
    display: flex;
    align-items: center;
    height: 72px;
    border-bottom: 1px solid;
    border-bottom-color: var(--color-gray-gray-lighten-6);
    margin-bottom: 16px;
}

.Header h2 {
    font-size: 20px;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.Content label {
    font-size: 16px;
}

.Content input {
    width: 100%;
}

.Content textarea {
    height: 120px;
    resize: none;
}

.Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}

.Column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.Viesti {
    transition: border-color 0.25s, box-shadow 0.25s;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.Viesti > .ViestiTextarea {
    border: none;
    box-shadow: none;
}

.Viesti > .ViestiTextarea:hover, .Viesti > .ViestiTextarea:focus {
    border: none;
    box-shadow: none;
}

.Viesti:has(.ViestiTextarea:hover) {
    border-color: var(--color-primary-blue);
}

.Viesti:has(.ViestiTextarea:focus) {
    box-shadow: 0 0 0 var(--border-radius) rgba(10,120,156,0.2);
    border-color: var(--color-primary-blue);
}

.ViestiFooter {
    padding: 16px;
    background: var(--color-gray-gray-lighten-6);
    color: var(--text-text-paragraph);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03px;
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

.ViestiFooter strong {
    font-weight: 700;
}

.Error input {
    border-color: var(--color-semantics-error);
    border-width: 2px;
}

.Error .Viesti {
    border-width: 2px;
    border-color: var(--color-semantics-error);
}

.Error p {
    color: var(--color-semantics-error);
    font-size: 14px;
    margin: 8px 0 0 0;
}

.BlueBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;
    height: 50px;
    box-sizing: border-box;

    background: var(--color-primary-blue);
    color: var(--color-neutral-white);
    border-radius: 4px;
}