.ViestiView {
    --border-color: var(--color-gray-gray-lighten-3);
    --border-radius: 4px; /* 3px Figmassa, mutta 4px muissa lomakkeen tyyleissä */

    width: 848px;
    padding: 32px 32px 32px 32px;
    color: var(--color-neutral-black);
    background: var(--color-neutral-white);
    border-radius: 3px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.17);
}

.ViestiButtons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-bottom: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.HeadingTypeSelector {
    margin-left: auto;
}

.ViestiButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: 1px solid var(--color-neutral-white);
    border-radius: var(--border-radius);
    background: none;
}

.ViestiButton:hover,
.ViestiButton:focus {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.17);
}

.ViestiButton:hover,
.ViestiButton:focus {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.17);
}

.ViestiButtonActive {
    background: var(--color-gray-gray-lighten-6);
}

.ViestiButtonDisabled {
    border: 1px solid var(--color-gray-gray-lighten-6);
    background: var(--color-gray-gray-lighten-6);
    cursor: default;
}

.ViestiButtonDisabled:hover,
.ViestiButtonDisabled:focus {
    border: 1px solid var(--color-gray-gray-lighten-6);
    box-shadow: none;
}

.Header {
    display: flex;
    align-items: center;
    height: 72px;
    border-bottom: 1px solid;
    border-bottom-color: var(--color-gray-gray-lighten-6);
    margin-bottom: 16px;
}

.Header h2 {
    font-size: 20px;
}

.Content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 16px;
}

.Content label {
    font-size: 16px;
}

.Content input {
    margin-top: 8px;
    width: 100%;
}

.Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}

.Column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Viesti {
    transition: border-color 0.25s, box-shadow 0.25s;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.Viesti .ViestiTextarea {
    border: none;
    box-shadow: none;
    min-height: 200px;
    padding: 8px;
}

.Viesti .ViestiTextarea:hover,
.Viesti .ViestiTextarea:focus {
    border: none;
    box-shadow: none;
}

.LexicalThemeUnderline {
    text-decoration: underline;
}

.Viesti:has(.ViestiTextarea:hover) {
    border-color: var(--color-primary-blue);
}

.Viesti:has(.ViestiTextarea:focus) {
    box-shadow: 0 0 0 var(--border-radius) rgba(10, 120, 156, 0.2);
    border-color: var(--color-primary-blue);
}

.ViestiFooter {
    padding: 16px;
    background: var(--color-gray-gray-lighten-6);
    color: var(--text-text-paragraph);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.03px;
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

.ViestiFooter strong {
    font-weight: 700;
}

.Error input {
    border-color: var(--color-semantics-error);
    border-width: 2px;
}

.Error .Viesti {
    border-width: 2px;
    border-color: var(--color-semantics-error);
}

.Error p {
    color: var(--color-semantics-error);
    font-size: 14px;
    margin: 8px 0 0 0;
}

.BlueBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;
    height: 50px;
    box-sizing: border-box;

    background: var(--color-primary-blue);
    color: var(--color-neutral-white);
    border-radius: 4px;
}

.Attachments {
    display: flex;
    align-items: center;
    gap: 8px;
}

.Attachment {
    display: flex;
    gap: 6px;
    padding: 8px;
    border: none;
    font-family: Roboto, Arial Unicode MS, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: var(--text-text-paragraph);
    border-radius: 3px;
    background-color: var(--color-gray-gray-lighten-6);
}

.RemoveFileButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
    cursor: pointer;
}

.ProgressBar {
    width: 100%;
    background-color: var(--color-primary-blue-lighten-4);
    margin-bottom: 1rem;
}

.ProgressBar > div {
    padding: 4px 4px 4px 8px;
    color: var(--color-neutral-white);
    font-weight: 700;
    background-color: var(--color-primary-blue);
}

.ModalButtons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.SendSpinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
