.VirheKirjautunut {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.VirheKirjautunut a,
.VirheKirjautunut .text-button {
    color: #ffffff;
    text-decoration: underline;
}

.VirheKirjautunut a:hover,
.VirheKirjautunut .text-button:hover {
    text-decoration: none;
}

.VirheKirjautunutTausta {
    width: 820px;
    height: 500px;
    background-image: url('/varda-rekisterointi/board.jpg');
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
