.BodyKehys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.BodyRivi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.BodyKentta {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-right: 1rem;
}

.FooterRivi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.FooterButton:last-child {
    margin-left: 1rem;
    margin-right: 2rem;
}

