<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="logLevel">{{env_loglevel}}</Property>
{# raw-endraw -välillä template engine ei tee mitään! #}
{% raw %}
        <Property name="logFile">/root/logs/oph-organisaatio.log</Property>
        <Property name="maxFileSize">10 MB</Property>
        <Property name="maxFilesKept">20</Property>
        <Property name="logPattern">%d{yyyy-MM-dd'T'HH:mm:ss.SSSX} %-5p {%X{user}} [%t] %-5p %c: %m%n</Property>
        <Property name="auditLogFile">/root/logs/auditlog_organisaatio.log</Property>
        <Property name="auditLogPattern">%m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}"/>
        </Console>
        <RollingFile name="FILE" fileName="${logFile}" append="true">
            <PatternLayout pattern="${layoutPattern}"/>
            <SizeBasedTriggeringPolicy size="${maxFileSize}" />
            <DefaultRolloverStrategy max="${maxFilesKept}"/>
            <ThresholdFilter level="info"/>
        </RollingFile>
        <File name="AUDIT" fileName="${auditLogFile}" append="true" immediateFlush="true">
            <PatternLayout pattern="${auditLogPattern}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="${logLevel}">
            <AppenderRef ref="FILE"/>
        </Root>
        <Logger name="fi.vm.sade.organisaatio.service.aspects.AuditLogAspect" level="info" additivity="false">
             <AppenderRef ref="AUDIT"/>
        </Logger>
    </Loggers>
</Configuration>
{% endraw %}
