<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="logLevel">{{env_loglevel}}</Property>
{# raw-endraw -välillä template engine ei tee mitään! #}
{% raw %}
        <Property name="logFile">/root/logs/oph-organisaatio.log</Property>
        <Property name="maxFileSize">10 MB</Property>
        <Property name="maxFilesKept">20</Property>
        <Property name="logPattern">%d{yyyy-MM-dd'T'HH:mm:ss.SSSX} %-5p {%X{user}} [%t] %-5p %c: %m%n</Property>
        <Property name="auditLogFile">/root/logs/auditlog_organisaatio.log</Property>
        <Property name="auditLogPattern">%m%n</Property>
    </Properties>
    <Appenders>
        <RollingFile name="FILE" fileName="${logFile}" filePattern="${logFile}.%i" append="true">
            <PatternLayout pattern="${logPattern}"/>
            <SizeBasedTriggeringPolicy size="${maxFileSize}" />
            <DefaultRolloverStrategy max="${maxFilesKept}"/>
            <ThresholdFilter level="info"/>
        </RollingFile>
        <File name="AUDIT" fileName="${auditLogFile}" append="true" immediateFlush="true">
            <PatternLayout pattern="${auditLogPattern}" charset="UTF-8"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="${logLevel}">
            <AppenderRef ref="FILE"/>
        </Root>
        <Logger name="fi.vm.sade.organisaatio.service.aspects.AuditLogAspect" level="info" additivity="false">
             <AppenderRef ref="AUDIT"/>
        </Logger>
        <Logger name="org.apache.cxf" level="error"/>
        <Logger name="org.springframework" level="error"/>
        <Logger name="org.vaadin" level="error"/>
        <Logger name="org.hibernate" level="warn"/>
        <Logger name="javax.sql" level="error"/>
        <Logger name="org.jasig.cas.client.session" level="info"/>
    </Loggers>
</Configuration>
{% endraw %}
