<!DOCTYPE html>
<html ng-app="organisaatio">

<head>
    <!-- libs -->
    <script type="text/javascript" src="../jslib/jquery-1.8.3/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="../jslib/jquery-ui-1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../jslib/jquery-1.8.3/jquery.nestable.js"></script>
    <script type="text/javascript" src="../jslib/jquery-1.8.3/jquery.mjs.nestedSortable.js"></script>
    <script type="text/javascript" src="../jslib/jquery-1.8.3/jquery.i18n.properties-min-1.0.9.js"></script>
    <script type="text/javascript" src="../jslib/angular-1.2.8/angular.js"></script>
    <script type="text/javascript" src="../jslib/angular-1.2.8/i18n/angular-locale_fi-fi.js"></script>
    <script type="text/javascript" src="../jslib/angular-1.2.8/angular-resource.js"></script>
    <script type="text/javascript" src="../jslib/angular-1.2.8/angular-route.js"></script>
    <script type="text/javascript" src="../jslib/angular-1.2.8/angular-sanitize.js"></script>
    <script type="text/javascript" src="../jslib/tinymce-4.0.11/tinymce.min.js"></script>
    <script type="text/javascript" src="../jslib/angular-ui-tinymce-1a3c618/tinymce.js"></script>
    <script type="text/javascript" src="../jslib/ui-bootstrap-0.10.0/ui-bootstrap-tpls-0.10.0.min.js"></script>

    <script type="text/javascript" src="../jslib/jQuery-File-Upload-9.5.7/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="../jslib/jQuery-File-Upload-9.5.7/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="../jslib/jQuery-File-Upload-9.5.7/jquery.fileupload.js"></script>

    <!--conf -->
    <script type="text/javascript"  src="../configuration/configuration.js"></script>

    <!-- app js-->
    <script type="text/javascript" src="../js/app.js"></script>
    <script type="text/javascript" src="../js/auth.js"></script>
    <script type="text/javascript" src="../js/directives/directives.js"></script>
    <script type="text/javascript" src="../js/services/hakuehdotModel.js"></script>
    <script type="text/javascript" src="../js/services/organisaatioModel.js"></script>
    <script type="text/javascript" src="../js/services/organisaatioTreeModel.js"></script>
    <script type="text/javascript" src="../js/services/ryhmienHallintaModel.js"></script>
    <script type="text/javascript" src="../js/services/yritysValintaModel.js"></script>
    <script type="text/javascript" src="../js/services/yhteystietojentyyppiModel.js"></script>
    <script type="text/javascript" src="../js/services/uploadService.js"></script>
    <script type="text/javascript" src="../js/controllers/organisaatioController.js"></script>
    <script type="text/javascript" src="../js/controllers/organisaatioDeleteController.js"></script>
    <script type="text/javascript" src="../js/controllers/organisaatioTreeController.js"></script>
    <script type="text/javascript" src="../js/controllers/yritysValintaController.js"></script>
    <script type="text/javascript" src="../js/controllers/UploadController.js"></script>
    <script type="text/javascript" src="../js/controllers/organisaatioCancelController.js"></script>
    <script type="text/javascript" src="../js/controllers/ryhmienHallintaController.js"></script>
    <script type="text/javascript" src="../js/controllers/yhteystietojentyyppiController.js"></script>
    <script type="text/javascript" src="../js/controllers/muuYhteystietoController.js"></script>
    <script type="text/javascript" src="../js/directives/organisaatioDirectives.js"></script>
    <script type="text/javascript" src="../js/directives/ieplaceholder.js"></script>

    <script type="text/javascript" src="../js/loading.js"></script>

    <!--Virkailija layout script -->
    <script type="text/javascript" src="/virkailija-raamit/apply-raamit.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- css -->
    <link href="../css/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../css/virkailija.css" rel="stylesheet" type="text/css" />
    <link href="../css/organisaatio.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .well {
            background: #ffffff;
        }
    </style>

    <title ng-bind-template="{{'Organisaatiot.title' | i18n}}"></title>
</head>
<body>
    <div class="container-fluid" id="application-wrapper">
        <div>
            <alert ng-repeat="alert in alerts | filter:{showOnTopLevel: true}" type="alert.type" close="alert.close()" ng-cloak>{{ alert.msg }}</alert>
        </div>
        <div id="angularbox" ng-view=""></div>
        <div>
            <alert ng-repeat="alert in alerts | filter:{showOnTopLevel: true}" type="alert.type" close="alert.close()" ng-cloak>{{ alert.msg }}</alert>
        </div>
    </div>
    <div ng-controller="LoadingCtrl">
        <div ng-show="loading" style="position: fixed; left: 0px; top: 0px; background: gold; padding: 0.3em; font-weight: bold;" ng-cloak>{{'Organisaatiot.loading' | i18n}}</div>
    </div>
</body>

</html>