<!-- Kuvailevien tietojen kopiointi -->
<div class="modal-header">
    <h3>{{'Organisaationmuokkaus.vahvistakopiointi' | i18n}}</h3>
</div>

<div class="modal-body">
    <div class="form-fluid">
        {{'Organisaationmuokkaus.ohje.kopioidaantiedot' | i18n}} <strong>{{nimi}}</strong>{{'Organisaationmuokkaus.ohje.kopioidaantiedotloppu' | i18n}}
    </div>
    <div>
        <em>{{'Organisaationmuokkaus.ohje.ylikirjoita' | i18n}}</em>
    </div>
</div>
<div class="modal-footer">
    <div class="form-fluid">
        <button class="btn" ng-click="$dismiss()">{{'Organisaationmuokkaus.peruuta' | i18n}}</button>
        <button class="btn" ng-click="$close()">{{'Organisaationmuokkaus.kopioi' | i18n}}</button>
    </div>
</div>


