<div id="ErrorDialog">
    <div class="modal-header">
        <h3 tt="organisaatio.tekninenvirhe.title"></h3>
    </div>
    <div class="modal-body">
        <div>{{t('organisaatio.tekninenvirhe.ohje')}}</div>
        <div tt="organisaatio.tekninenvirhe.ohje"></div>
   </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-ng-click="commit()" tt="organisaatio.tekninenvirhe.commit"></button>
        <button class="btn btn-primary" data-ng-click="restart()" tt="organisaatio.tekninenvirhe.restart"></button>
    </div>
</div>