<!-- Organisaation nimen muokkaus -->
<div class="modal-header">
    <h3>{{'Nimenmuokkaus.title' | i18n}}</h3>
</div>

<div class="modal-body" style='max-height: 600px; height:100%; overflow-y: visible;'>
    <form name="form" novalidate>
        <input type="radio" ng-model="mode" value="update"> {{'Nimenmuokkaus.nimenkorjaus' | i18n}} <br/>
        <input type="radio" ng-model="mode" value="new">    {{'Nimenmuokkaus.uudennimenluonti' | i18n}} <br/>

        <br>

        <label class="control-label">
            {{'Nimenmuokkaus.uusinimi' | i18n}}
        </label>
        <input type="text" name="nimifi" class="span6"
               ng-model="nimi_fi" oph-decode-name oph-enter
               ie-placeholder placeholder="{{'Organisaationmuokkaus.nimisuomeksi'| i18n}}" ng-required="false" names-combined-field/>
        <div>
            <span class="text-error" ng-show="form.nimifi.$error.namescombinedrequired">
                {{'Organisaationmuokkaus.ohje.nimet'| i18n}}
            </span>
        </div>
        <input id="nimisv" type="text" name="nimisv" class="span6"
               ng-model="nimi_sv" oph-decode-name oph-enter
               ie-placeholder placeholder="{{'Organisaationmuokkaus.nimiruotsiksi'| i18n}}" ng-required="false" names-combined-field/>
        <input id="nimise" type="text" name="nimien" class="span6"
               ng-model="nimi_en" oph-decode-name oph-enter
               ie-placeholder placeholder="{{'Organisaationmuokkaus.nimienglanniksi'| i18n}}" ng-required="false" names-combined-field/>
    </form>
    <label class="control-label">
        {{'Nimenmuokkaus.uusinimi.alkupvm' | i18n}}
    </label>
    <input oph-enter
           type="text" name="alkupvm" formatteddate datepicker-popup="dd.MM.yyyy" min="minAlkupvm" max="'2030-12-31'" ng-model="alkupvm"
           close-on-date-selection="true"
           ie-placeholder placeholder="{{'Organisaationmuokkaus.nimenalkupvm'| i18n}}"
           close-text="{{'Organisaationmuokkaus.sulje'| i18n}}"
           current-text="{{'Organisaationmuokkaus.tanaan'| i18n}}"
           clear-text="{{'Organisaationmuokkaus.tyhjenna'| i18n}}"
           toggle-weeks-text="{{'Organisaationmuokkaus.viikkonumerot'| i18n}}"/>
</div>
<div class="modal-footer">
    <div class="form-fluid">
        <button class="btn" ng-click="$dismiss()">{{'Organisaationmuokkaus.peruuta' | i18n}}</button>
        <button class="btn" ng-click="$close()">{{'Organisaationmuokkaus.hyvaksy' | i18n}}</button>
    </div>
</div>


