<!-- Organisaation Poisto -->
<div class="modal-header">
    {{'Organisaationpoisto.otsikko' | i18n}}
</div>

<div class="modal-body">
    <div class="form-row">
        {{'Organisaationpoisto.vahvistus' | i18n}}
    </div> 
</div>
<div class="modal-footer">
    <div class="form-row">
        <input class="button small" ng-click="$dismiss()" value="{{'Organisaationpoisto.peruuta' | i18n}}">
        <input class="button small" ng-click="$close()"   value="{{'Organisaationpoisto.ok' | i18n}}">
    </div>    
</div>


