<!-- Fixed header ei näytä hyvältä virkailija framessa...
<div class="view-row fixed-header" ng-show="model.organisaatio.nimi">
    <div class="view-column cols-2 col-indent-1 first">
        <h2>{{model.uriLocalizedNames["nimi"]}}</h2>
    </div>
    <hr>
</div>
<div class="view-row">&nbsp;</div>
-->
<div class="view-row">&nbsp;</div>

<form name="form" ng-submit="submit()">
    <div class="view-row">
        <div class="view-column cols-1 first">
            <div class="view-row-label">
                {{'Organisaationtarkastelu.organisaatiotyyppi'| i18n}}*
            </div>
        </div>
        <div ng-repeat="tyyppi in model.koodisto.organisaatiotyypit">
            <div class="view-column cols-1">
                <input type='checkbox' 
                       ng-checked="model.organisaatio.tyypit.indexOf(tyyppi) !== -1" 
                       ng-click="model.toggleCheck(tyyppi)">{{tyyppi}}
            </div>
        </div>
    </div>

    <div class="view-row" ng-if="model.isOppilaitos()">
        <div class="view-column cols-1 first">
            <div class="view-row-label">
                {{'Organisaationtarkastelu.oppilaitoskoodi'| i18n}}*
            </div>
        </div>
        <div class="view-column cols-1 last">
            <input id="oppilaitoskoodi" type="text" maxlength="20" name="oppilaitoskoodi" 
                   ng-model="model.organisaatio.oppilaitosKoodi"
                   placeholder="{{'Organisaationtarkastelu.oppilaitoskoodi'| i18n}}" ng-required="true" codes-combined-field/>
            <span class="text-error" ng-show="form.oppilaitoskoodi.$error.codescombinedrequired">
                {{'codes.validation.codescombinedrequired'| i18n}}</span>
        </div> 
    </div>

    <div class="view-row" ng-if="model.isOppilaitos()">
        <div class="view-column cols-1 first">
            <div class="view-row-label">
                {{'Organisaationtarkastelu.oppilaitostyyppi'| i18n}}*
            </div>
        </div>
        <div class="view-column cols-2 last">
            <select id="oppilaitostyyppi" ng-model="model.organisaatio.oppilaitosTyyppiUri"
                    ng-options="olTyyppi.uri as olTyyppi.nimi for olTyyppi in model.koodisto.oppilaitostyypit | orderBy:'nimi'" ng-required="true">
            </select>    
        </div>
    </div>


    <div class="view-row">
        <div class="view-column cols-1 first">
            <div class="view-row-label">
                {{'Organisaationtarkastelu.nimi'| i18n}}*
            </div>
        </div>
        <div class="view-column cols-2 last">
            <input id="nimifi" type="text" name="nimifi" 
                   ng-model="model.organisaatio.nimi.fi"
                   placeholder="{{'Organisaationmuokkaus.nimisuomeksi'| i18n}}" ng-required="false" codes-combined-field/>
            <span class="text-error" ng-show="form.nimifi.$error.codescombinedrequired">
                {{'codes.validation.codescombinedrequired'| i18n}}</span>
        </div>
    </div>
    <div class="view-row">
        <div class="view-column col-indent-1 cols-2 last">
            <input id="nimisv" type="text" name="nimisv" 
                   ng-model="model.organisaatio.nimi.sv"
                   placeholder="{{'Organisaationmuokkaus.nimiruotsiksi'| i18n}}" ng-required="false" codes-combined-field/>
            <span class="text-error" ng-show="form.nimisv.$error.codescombinedrequired">
                {{'codes.validation.codescombinedrequired'| i18n}}</span>
        </div>
    </div>
    <div class="view-row">
        <div class="view-column col-indent-1 cols-2 last">
            <input id="nimise" type="text" name="nimien" 
                   ng-model="model.organisaatio.nimi.en"
                   placeholder="{{'Organisaationmuokkaus.nimienglanniksi'| i18n}}" ng-required="false" codes-combined-field/>
            <span class="text-error" ng-show="form.nimien.$error.codescombinedrequired">
                {{'codes.validation.codescombinedrequired'| i18n}}</span>
        </div>
    </div>

    <div class="view-row">
        <div class="view-column cols-1 first">
            <div class="view-row-label">
                {{'Organisaationtarkastelu.voimassaolo'| i18n}}*
            </div>
        </div>
        <div class="view-column cols-1 ">
            <input type="text" datepicker-popup="dd.MM.yyyy" ng-model="model.organisaatio.luontipvm" datepicker-options="dateOptions" 
                   ng-required="true" close-on-date-selection="true" placeholder="{{'Organisaationmuokkaus.luontipvm'| i18n}}"
                   close-text="{{'Organisaationmuokkaus.sulje'| i18n}}" 
                   current-text="{{'Organisaationmuokkaus.tanaan'| i18n}}" 
                   clear-text="{{'Organisaationmuokkaus.tyhjenna'| i18n}}" 
                   toggle-weeks-text="{{'Organisaationmuokkaus.viikkonumerot'| i18n}}" />
        </div>
        <div class="view-column cols-1 last">
            <input type="text" datepicker-popup="dd.MM.yyyy" ng-model="model.organisaatio.lakkautuspvm" datepicker-options="dateOptions" 
                   ng-required="true" close-on-date-selection="true" placeholder="{{'Organisaationmuokkaus.lakkautuspvm'| i18n}}"
                   close-text="{{'Organisaationmuokkaus.sulje'| i18n}}" 
                   current-text="{{'Organisaationmuokkaus.tanaan'| i18n}}" 
                   clear-text="{{'Organisaationmuokkaus.tyhjenna'| i18n}}" 
                   toggle-weeks-text="{{'Organisaationmuokkaus.viikkonumerot'| i18n}}" />

        </div>
    </div>

    <div class="view-row">
        <div class="view-column cols-1 first">
            <div class="view-row-label">
                {{'Organisaationtarkastelu.kotipaikka'| i18n}}*
            </div>
        </div>
        <div class="view-column cols-2 last">
            <select id="kotipaikka" ng-model="model.organisaatio.kotipaikkaUri"
                    ng-options="kp.uri as kp.nimi for kp in model.koodisto.kotipaikat | orderBy:'nimi'" ng-required="true">
            </select>    
        </div>
    </div>

    <div class="view-row">
        <div class="view-column cols-1 first">
            <div class="view-row-label">
                {{'Organisaationtarkastelu.maa'| i18n}}*
            </div>
        </div>
        <div class="view-column cols-2 last">
            <select id="maa" ng-model="model.organisaatio.maaUri"
                    ng-options="maa.uri as maa.nimi for maa in model.koodisto.maat | orderBy:'nimi'" ng-required="true">
            </select>    
        </div>
    </div>

    <div class="view-row">
        <div class="view-column cols-1 first">
            <div class="view-row-label">
                {{'Organisaationtarkastelu.kieli'| i18n}}*
            </div>
        </div>    
        <div ng-repeat="kieli in model.organisaatio.kieletUris" >
            <div class="view-column cols-1">             
                <!--span class="removabletag">{{model.uriLocalizedNames[kieli]}}</span-->
                <button type="button" class="button small width-80" ng-click="model.removeLang(kieli)">{{model.uriLocalizedNames[kieli]}}</button>
            </div>
        </div>
        <div class="view-column cols-1">
            <select id="maa" ng-model="model.organisaatio.kieliplaceholder"
                    ng-options="kieli.uri as kieli.nimi for kieli in model.koodisto.kielet | orderBy:'nimi'" ng-required="false"
                    ng-click="model.addLang()">
                <option value="">{{'Organisaationmuokkaus.lisaakieli'| i18n}}</option>
            </select>    
        </div>
    </div>

    <div class="view-row">
        <div class="view-column cols-1 first">
            &nbsp;
        </div>
        <div class="view-column cols-2">
            <select id="osoitemuoto" ng-model="model.osoitemuoto" 
                    ng-init="model.osoitemuoto = 'suomalainen'">
                <option value='suomalainen'>{{'Organisaationmuokkaus.suomalainenosoitemuoto'| i18n}}</option>
                <option value='kansainvalinen'>{{'Organisaationmuokkaus.kansainvalinenosoitemuoto'| i18n}}</option>
            </select>
        </div>
    </div>

    <!--div ng-include src="'osoitteenmuokkaus.html'" ng-init="model.label='Organisaationtarkastelu.kayntiosoite'"></div-->
    <edit-address label="'Organisaationtarkastelu.kayntiosoite'" addressformat="model.osoitemuoto"
                  addressmodelfi="model.yhteystiedot.kaynti" 
                  addressmodelsv="model.yhteystiedot.ruotsi_kaynti"
                  addressmodelkv="model.yhteystiedot.kv_kaynti"
                  addresstype="'kaynti'" country="model.organisaatio.maaUri" postcodes="model.koodisto.postinumerot"
                  postcodefi="model.yhteystiedot.postinumerot.kaynti" postcodesv="model.yhteystiedot.postinumerot.ruotsi_kaynti"
                  setpostcodefi="model.setPostinumero" setpostcodesv="model.setRuotsiPostinumero"></edit-address>

    <div class="view-row">
        <div class="view-column col-indent-1 cols-3 first last">    
            <input type='checkbox' ng-model="model.samaosoite" ng-init="model.samaosoite = false"
                   ng-change="model.copyAddress()"/>{{'Organisaationmuokkaus.samaosoite'| i18n}}
        </div>
    </div>

    <edit-address label="'Organisaationtarkastelu.postiosoite'" addressformat="model.osoitemuoto"
                  addressmodelfi="model.yhteystiedot.posti" 
                  addressmodelsv="model.yhteystiedot.ruotsi_posti"
                  addressmodelkv="model.yhteystiedot.kv_posti"
                  addresstype="'posti'" country="model.organisaatio.maaUri" postcodes="model.koodisto.postinumerot"
                  disabled="model.samaosoite"
                  postcodefi="model.yhteystiedot.postinumerot.posti" postcodesv="model.yhteystiedot.postinumerot.ruotsi_posti"
                  setpostcodefi="model.setPostinumero" setpostcodesv="model.setRuotsiPostinumero"></edit-address>   

    <div class="view-row">
        <div class="view-column col-indent-1 cols-2 first last">     
            <button type="button" class="button small width-80" ng-click="model.addAddress()">{{ 'Organisaationmuokkaus.lisaamuuosoite' | i18n}}</button>
        </div>
    </div>

    <div ng-repeat="osoite in model.yhteystiedot.muu">
        <edit-address label="'Organisaationtarkastelu.muuosoite'" addressformat="model.osoitemuoto"
                      addressmodelfi="model.yhteystiedot.muu[$index]"                   
                      addressmodelkv="model.yhteystiedot.kv_muu[$index]"
                      index='{{$index}}' remove="model.removeAddress"
                      addresstype="'muu'" country="model.organisaatio.maaUri" postcodes="model.koodisto.postinumerot"
                      postcodefi="model.yhteystiedot.postinumerot.muu[$index]" 
                      setpostcodefi="model.setPostinumero" ></edit-address>
    </div>

    <div class="view-row">
        <div class="view-column cols-1 first">
            <div class="view-row-label">
                {{'Organisaationtarkastelu.puhelinnumero'| i18n}}*
            </div>
        </div>
        <div class="view-column cols-1 last">
            <input id="puhelinnumero" type="text" name="puhelinnumero" 
                   ng-model="model.yhteystiedot.puhelin.numero"
                   placeholder="{{'Organisaationtarkastelu.puhelinnumero'| i18n}}" ng-required="false" codes-combined-field/>
            <span class="text-error" ng-show="form.oppilaitoskoodi.$error.codescombinedrequired">
                {{'codes.validation.codescombinedrequired'| i18n}}</span>
        </div> 
    </div>

    <div class="view-row">
        <div class="view-column cols-1 first">
            <div class="view-row-label">
                {{'Organisaationtarkastelu.faksinumero'| i18n}}
            </div>
        </div>
        <div class="view-column cols-1 last">
            <input id="faksinumero" type="text" maxlength="20" name="faksinumero" 
                   ng-model="model.yhteystiedot.faksi.numero"
                   placeholder="{{'Organisaationtarkastelu.faksinumero'| i18n}}" ng-required="false" codes-combined-field/>
            <span class="text-error" ng-show="form.oppilaitoskoodi.$error.codescombinedrequired">
                {{'codes.validation.codescombinedrequired'| i18n}}</span>
        </div> 
    </div>

    <div class="view-row">
        <div class="view-column cols-1 first">
            <div class="view-row-label">
                {{'Organisaationtarkastelu.sahkopostiosoite'| i18n}}*
            </div>
        </div>
        <div class="view-column cols-1 last">
            <input id="sahkopostiosoite" type="text" name="sahkopostiosoite" 
                   ng-model="model.yhteystiedot.email.email"
                   placeholder="{{'Organisaationtarkastelu.sahkopostiosoite'| i18n}}" ng-required="true" codes-combined-field/>
            <span class="text-error" ng-show="form.oppilaitoskoodi.$error.codescombinedrequired">
                {{'codes.validation.codescombinedrequired'| i18n}}</span>
        </div> 
    </div>

    <div class="view-row">
        <div class="view-column cols-1 first">
            <div class="view-row-label">
                {{'Organisaationtarkastelu.wwwosoite'| i18n}}
            </div>
        </div>
        <div class="view-column cols-1 last">
            <input id="wwwosoite" type="text" name="wwwosoite" 
                   ng-model="model.yhteystiedot.www.www"
                   placeholder="{{'Organisaationtarkastelu.wwwosoite'| i18n}}" ng-required="false" codes-combined-field/>
            <span class="text-error" ng-show="form.oppilaitoskoodi.$error.codescombinedrequired">
                {{'codes.validation.codescombinedrequired'| i18n}}</span>
        </div> 
    </div>

    <div class="view-row">
        <div class="view-column cols-1 first">
            <div class="view-row-label">
                {{'Organisaationtarkastelu.kuva'| i18n}}
            </div>
        </div>
        <div class="view-column cols-2">
            <div ng-show="model.organisaatio.metadata.kuvaEncoded">
                <img ng-src="data:image/jpeg;base64, {{model.organisaatio.metadata.kuvaEncoded}}">
            </div>
        </div>
        <div class="view-column cols-1 last">
            <label ng-show="model.organisaatio.metadata.kuvaEncoded" for="upload" class="button small width-80" style="text-align: center">{{ 'Organisaationmuokkaus.vaihdakuva' | i18n}}</label>
            <label ng-hide="model.organisaatio.metadata.kuvaEncoded" for="upload" class="button small width-80" style="text-align: center">{{ 'Organisaationmuokkaus.lisaakuva' | i18n}}</label>
            <input style="display: none;" type="file" name="upload" id="upload">
            <button ng-show="model.organisaatio.metadata.kuvaEncoded" type="button" class="button small width-80" ng-click="model.removeImage()">{{ 'Organisaationmuokkaus.poistakuva' | i18n}}</button>
        </div>
    </div>

    <div class="view-row">
        <div class="view-column cols-1 first">
            <div class="view-row-label">
                {{'Organisaationtarkastelu.sosiaalinenmedia'| i18n}}
            </div>
        </div>
        <div class ="view-column cols-2">
            <select id="some" ng-model="model.organisaatio.someplaceholder"
                    ng-options="some.type as some.nimi for some in model.some | orderBy:'some.nimi'" ng-required="false"
                    ng-click="model.addSome()">
                <option value="">{{'Organisaationmuokkaus.lisaasosiaalinenmedia'| i18n}}</option>
            </select>
        </div>
    </div>

    <div ng-repeat="(k,v) in model.organisaatio.metadata.data">
        <div ng-if="['FACEBOOK', 'GOOGLE_PLUS', 'LINKED_IN', 'TWITTER', 'MUU'].indexOf(k) > -1">
            <div class="view-row">
                <div ng-repeat="(k2,v2) in v">
                    <div class ="view-column cols-1 col-indent-1">
                        {{'Organisaationtarkastelu.' + k| i18n }}:
                    </div>
                    <div class ="view-column cols-2">
                        <input id="some_{{k}}" type="text" name="some_{{k}}" 
                               ng-model="model.organisaatio.metadata.data[k][k2]"
                               placeholder="{{'Organisaationtarkastelu.sosiaalinenmedia'| i18n}}" ng-required="true" codes-combined-field/>
                    </div>
                    <div class="view-column cols-1 last">
                        <button type="button" class="button small width-80" ng-click="model.removeSome(k)">{{ 'Organisaationmuokkaus.poistasome' | i18n}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="view-row">
        <div class="view-column cols-2 first last">
            <div class="view-row-label">
                <a href="" ng-model="ktexpanded" ng-click="ktexpanded = !ktexpanded">
                    <div class="expandable collapsed" ng-show="!ktexpanded">
                        {{'Organisaationtarkastelu.koulutustarjoajatiedot'| i18n}}
                    </diV>
                    <div class="expandable expanded" ng-show="ktexpanded">
                        {{'Organisaationtarkastelu.koulutustarjoajatiedot'| i18n}}
                    </diV>
                </a>
            </div>
        </div>
    </div>

    <div ng-show="ktexpanded">
        <div class="view-row">
            <div class="view-column cols-1 first">
                <div class="view-row-label">
                    {{'Organisaationtarkastelu.hakutoimistonnimi'| i18n}}
                </div>
            </div>

            <div class="view-column cols-2 last">
                <input id="nimifi" type="text" name="nimifi" 
                       ng-model="model.organisaatio.metadata.hakutoimistonNimi.kielivalikoima_fi"
                       placeholder="{{'Organisaationmuokkaus.nimisuomeksi'| i18n}}" ng-required="false" codes-combined-field/>
                <span class="text-error" ng-show="form.nimifi.$error.codescombinedrequired">
                    {{'codes.validation.codescombinedrequired'| i18n}}</span>
            </div>
        </div>
        <div class="view-row">
            <div class="view-column col-indent-1 cols-2 last">
                <input id="nimisv" type="text" name="nimisv" 
                       ng-model="model.organisaatio.metadata.hakutoimistonNimi.kielivalikoima_sv"
                       placeholder="{{'Organisaationmuokkaus.nimiruotsiksi'| i18n}}" ng-required="false" codes-combined-field/>
                <span class="text-error" ng-show="form.nimisv.$error.codescombinedrequired">
                    {{'codes.validation.codescombinedrequired'| i18n}}</span>
            </div>
        </div>
        <div class="view-row">
            <div class="view-column col-indent-1 cols-2 last">
                <input id="nimise" type="text" name="nimien" 
                       ng-model="model.organisaatio.metadata.hakutoimistonNimi.kielivalikoima_en"
                       placeholder="{{'Organisaationmuokkaus.nimienglanniksi'| i18n}}" ng-required="false" codes-combined-field/>
                <span class="text-error" ng-show="form.nimien.$error.codescombinedrequired">
                    {{'codes.validation.codescombinedrequired'| i18n}}</span>
            </div>
        </div>


        <div class="view-row">
            <div class="view-column cols-1 first">
                &nbsp;
            </div>
            <div class="view-column cols-2">
                <select id="osoitemuoto" ng-model="model.ktosoitemuoto" 
                        ng-init="model.ktosoitemuoto = 'suomalainen'">
                    <option value='suomalainen'>{{'Organisaationmuokkaus.suomalainenosoitemuoto'| i18n}}</option>
                    <option value='kansainvalinen'>{{'Organisaationmuokkaus.kansainvalinenosoitemuoto'| i18n}}</option>
                </select>
            </div>
        </div>

        <edit-address label="'Organisaationtarkastelu.kayntiosoite'" addressformat="model.ktosoitemuoto"
                      addressmodelfi="model.mdyhteystiedot.kaynti" 
                      addressmodelsv="model.mdyhteystiedot.ruotsi_kaynti"
                      addressmodelkv="model.mdyhteystiedot.kv_kaynti"
                      addresstype="'kaynti'" country="model.organisaatio.maaUri" postcodes="model.koodisto.postinumerot"
                      postcodefi="model.mdyhteystiedot.postinumerot.kaynti" postcodesv="model.mdyhteystiedot.postinumerot.ruotsi_kaynti"
                      setpostcodefi="model.setPostinumero" setpostcodesv="model.setRuotsiPostinumero"></edit-address>

        <div class="view-row">
            <div class="view-column col-indent-1 cols-3 first last">    
                <input type='checkbox' ng-model="model.ktsamaosoite" ng-init="model.ktsamaosoite = false"
                       ng-change="model.copyAddress()"/>{{'Organisaationmuokkaus.samaosoite'| i18n}}
            </div>
        </div>

        <edit-address label="'Organisaationtarkastelu.postiosoite'" addressformat="model.ktosoitemuoto"
                      addressmodelfi="model.mdyhteystiedot.posti" 
                      addressmodelsv="model.mdyhteystiedot.ruotsi_posti"
                      addressmodelkv="model.mdyhteystiedot.kv_posti"
                      addresstype="'posti'" country="model.organisaatio.maaUri" postcodes="model.koodisto.postinumerot"
                      disabled="model.ktsamaosoite"
                      postcodefi="model.mdyhteystiedot.postinumerot.posti" postcodesv="model.mdyhteystiedot.postinumerot.ruotsi_posti"
                      setpostcodefi="model.setPostinumero" setpostcodesv="model.setRuotsiPostinumero"></edit-address>   

        <div class="view-row">
            <div class="view-column col-indent-1 cols-2 first last">     
                <button type="button" class="button small width-80" ng-click="model.addKtAddress()">{{ 'Organisaationmuokkaus.lisaamuuosoite' | i18n}}</button>
            </div>
        </div>        


        <div ng-repeat="osoite in model.mdyhteystiedot.muu">
            FI:{{model.mdyhteystiedot.muu[$index]}}
            Kv:{{model.mdyhteystiedot.kv_muu[$index]}}
            <edit-address label="'Organisaationtarkastelu.muuosoite'" addressformat="model.osoitemuoto"
                          addressmodelfi="model.mdyhteystiedot.muu[$index]"                      
                          addressmodelkv="model.mdyhteystiedot.kv_muu[$index]"
                          index='{{$index}}' remove="model.removeKtAddress"
                          addresstype="'muu'" country="model.organisaatio.maaUri" postcodes="model.koodisto.postinumerot"
                          postcodefi="model.mdyhteystiedot.postinumerot.muu[$index]" 
                          setpostcodefi="model.setPostinumero" ></edit-address>
        </div>

        <div class="view-row">
            <div class="view-column cols-1 first">
                <div class="view-row-label">
                    {{'Organisaationtarkastelu.hakutoimistoectsnimi'| i18n}}
                </div>
            </div>

            <div class="view-column cols-2">
                <input id="ectsnimi" type="text" name="ectsnimi" 
                       ng-model="model.organisaatio.metadata.hakutoimistoEctsNimi"
                       placeholder="{{'Organisaationmuokkaus.hakutoimistoectsnimi'| i18n}}" ng-required="false" codes-combined-field/>
                <span class="text-error" ng-show="form.nimifi.$error.codescombinedrequired">
                    {{'codes.validation.codescombinedrequired'| i18n}}</span>
            </div>
            <div class="view-column cols-2 last">
                <input id="ectsnimike" type="text" name="ectsnimike" 
                       ng-model="model.organisaatio.metadata.hakutoimistoEctsTehtavanimike"
                       placeholder="{{'Organisaationmuokkaus.hakutoimistoectstehtavanimike'| i18n}}" ng-required="false" codes-combined-field/>
                <span class="text-error" ng-show="form.nimifi.$error.codescombinedrequired">
                    {{'codes.validation.codescombinedrequired'| i18n}}</span>
            </div>
        </div>
        <div class="view-row">
            <div class="view-column cols-1 first">
                &nbsp;
            </div>

            <div class="view-column cols-2">
                <input id="ectspuhelin" type="text" name="ectspuhelin" 
                       ng-model="model.organisaatio.metadata.hakutoimistoEctsPuhelin"
                       placeholder="{{'Organisaationmuokkaus.hakutoimistoectspuhelin'| i18n}}" ng-required="false" codes-combined-field/>
                <span class="text-error" ng-show="form.nimifi.$error.codescombinedrequired">
                    {{'codes.validation.codescombinedrequired'| i18n}}</span>
            </div>
            <div class="view-column cols-2 last">
                <input id="ectsemail" type="text" name="ectsemail" 
                       ng-model="model.organisaatio.metadata.hakutoimistoEctsEmail"
                       placeholder="{{'Organisaationmuokkaus.hakutoimistoectsemail'| i18n}}" ng-required="false" codes-combined-field/>
                <span class="text-error" ng-show="form.nimifi.$error.codescombinedrequired">
                    {{'codes.validation.codescombinedrequired'| i18n}}</span>
            </div>
        </div>


        <div class="view-row">
            <div class="view-column cols-1 first">
                <div class="view-row-label">
                    {{'Organisaationmuokkaus.lisatiedot'| i18n}}
                </div>
            </div>
        </div>

        <!-- TODO: lisää välilehdet eri kielille -->
        <div ng-init="ktlang='fi'">
            <div class="view-row">
                <div class="view-column cols-1 first">
                    <div class="view-row-label">
                        {{'Organisaationtarkastelu.yleiskuvaus'| i18n}}
                    </div>
                </div>
                <div class="view-column cols-5 last">
                    <textarea ui-tinymce='{menubar:"false"}' ng-model="model.organisaatio.metadata.data.YLEISKUVAUS['kielivalikoima_'+ktlang]"></textarea>  
                </div>
            </div>

            <div class="view-row">
                <div class="view-column cols-1 first">
                    <div class="view-row-label">
                        {{'Organisaationtarkastelu.esteettomyys'| i18n}}
                    </div>
                </div>
                <div class="view-column cols-5 last">
                    <textarea ui-tinymce='{menubar:"false"}' ng-model="model.organisaatio.metadata.data.YESTEETOMYYS['kielivalikoima_'+ktlang]"></textarea>  
                </div>
            </div>

            <div class="view-row">
                <div class="view-column cols-1 first">
                    <div class="view-row-label">
                        {{'Organisaationtarkastelu.oppimisymparisto'| i18n}}
                    </div>
                </div>
                <div class="view-column cols-5 last">
                    <textarea ui-tinymce='{menubar:"false"}' ng-model="model.organisaatio.metadata.data.OPPIMISYMPARISTO['kielivalikoima_'+ktlang]"></textarea>  
                </div>
            </div>

            <div class="view-row">
                <div class="view-column cols-1 first">
                    <div class="view-row-label">
                        {{'Organisaationtarkastelu.vuosikello'| i18n}}
                    </div>
                </div>
                <div class="view-column cols-5 last">
                    <textarea ui-tinymce='{menubar:"false"}' ng-model="model.organisaatio.metadata.data.VUOSIKELLO['kielivalikoima_'+ktlang]"></textarea>  
                </div>
            </div>

            <div class="view-row">
                <div class="view-column cols-1 first">
                    <div class="view-row-label">
                        {{'Organisaationtarkastelu.vastuuhenkilot'| i18n}}
                    </div>
                </div>
                <div class="view-column cols-5 last">
                    <textarea ui-tinymce='{menubar:"false"}' ng-model="model.organisaatio.metadata.data.VASTUUHENKILOT['kielivalikoima_'+ktlang]"></textarea>  
                </div>
            </div>

            <div class="view-row">
                <div class="view-column cols-1 first">
                    <div class="view-row-label">
                        {{'Organisaationtarkastelu.valintamenettely'| i18n}}
                    </div>
                </div>
                <div class="view-column cols-5 last">
                    <textarea ui-tinymce='{menubar:"false"}' ng-model="model.organisaatio.metadata.data.VALINTAMENETTELY['kielivalikoima_'+ktlang]"></textarea>  
                </div>
            </div>

            <div class="view-row">
                <div class="view-column cols-1 first">
                    <div class="view-row-label">
                        {{'Organisaationtarkastelu.ahot'| i18n}}
                    </div>
                </div>
                <div class="view-column cols-5 last">
                    <textarea ui-tinymce='{menubar:"false"}' ng-model="model.organisaatio.metadata.data.AIEMMIN_HANKITTU_OSAAMINEN['kielivalikoima_'+ktlang]"></textarea>  
                </div>
            </div>

            <div class="view-row">
                <div class="view-column cols-1 first">
                    <div class="view-row-label">
                        {{'Organisaationtarkastelu.kieliopinnot'| i18n}}
                    </div>
                </div>
                <div class="view-column cols-5 last">
                    <textarea ui-tinymce='{menubar:"false"}' ng-model="model.organisaatio.metadata.data.KIELIOPINNOT['kielivalikoima_'+ktlang]"></textarea>  
                </div>
            </div>

            <div class="view-row">
                <div class="view-column cols-1 first">
                    <div class="view-row-label">
                        {{'Organisaationtarkastelu.tyoharjoittelu'| i18n}}
                    </div>
                </div>
                <div class="view-column cols-5 last">
                    <textarea ui-tinymce='{menubar:"false"}' ng-model="model.organisaatio.metadata.data.TYOHARJOITTELU['kielivalikoima_'+ktlang]"></textarea>  
                </div>
            </div>

            <div class="view-row">
                <div class="view-column cols-1 first">
                    <div class="view-row-label">
                        {{'Organisaationtarkastelu.opiskelijaliikkuvuus'| i18n}}
                    </div>
                </div>
                <div class="view-column cols-5 last">
                    <textarea ui-tinymce='{menubar:"false"}' ng-model="model.organisaatio.metadata.data.OPISKELIJALIIKKUVUUS['kielivalikoima_'+ktlang]"></textarea>  
                </div>
            </div>
            <div class="view-row">
                <div class="view-column cols-1 first">
                    <div class="view-row-label">
                        {{'Organisaationtarkastelu.kansainvalisyys'| i18n}}
                    </div>
                </div>
                <div class="view-column cols-5 last">
                    <textarea ui-tinymce='{menubar:"false"}' ng-model="model.organisaatio.metadata.data.KANSAINVALISET_KOULUTUSOHJELMAT['kielivalikoima_'+ktlang]"></textarea>  
                </div>
            </div>
        </div> <!-- ktlang -->

    </div> <!-- ktexpanded -->         

    <div class="view-row">
        <div class="view-column cols-2 first last">
            <div class="view-row-label">
                <a href="" ng-model="oeexpanded" ng-click="oeexpanded = !oeexpanded">
                    <div class="expandable collapsed" ng-show="!oeexpanded">
                        {{'Organisaationtarkastelu.koulutustarjoajatiedot'| i18n}}
                    </diV>
                    <div class="expandable expanded" ng-show="oeexpanded">
                        {{'Organisaationtarkastelu.opiskelijanedut'| i18n}}
                    </diV>
                </a>
            </div>
        </div>
    </div>      

    <div ng-show="oeexpanded">

        <div class="view-row">
            <div class="view-column cols-1 first">
                <div class="view-row-label">
                    {{'Organisaationtarkastelu.kustannukset'| i18n}}
                </div>
            </div>
            <div class="view-column cols-5 last">
                <textarea ui-tinymce='{menubar:"false"}' ng-model="model.uriLocalizedNames.KUSTANNUKSET"></textarea>  
            </div>
        </div>

        <div class="view-row">
            <div class="view-column cols-1 first">
                <div class="view-row-label">
                    {{'Organisaationtarkastelu.asuminen'| i18n}}
                </div>
            </div>
            <div class="view-column cols-5 last">
                <textarea ui-tinymce='{menubar:"false"}' ng-model="model.uriLocalizedNames.TIETOA_ASUMISESTA"></textarea>  
            </div>
        </div>

        <div class="view-row">
            <div class="view-column cols-1 first">
                <div class="view-row-label">
                    {{'Organisaationtarkastelu.rahoitus'| i18n}}
                </div>
            </div>
            <div class="view-column cols-5 last">
                <textarea ui-tinymce='{menubar:"false"}' ng-model="model.uriLocalizedNames.RAHOITUS"></textarea>  
            </div>
        </div>

        <div class="view-row">
            <div class="view-column cols-1 first">
                <div class="view-row-label">
                    {{'Organisaationtarkastelu.ruokailu'| i18n}}
                </div>
            </div>
            <div class="view-column cols-5 last">
                <textarea ui-tinymce='{menubar:"false"}' ng-model="model.uriLocalizedNames.OPISKELIJARUOKAILU"></textarea>  
            </div>
        </div>

        <div class="view-row">
            <div class="view-column cols-1 first">
                <div class="view-row-label">
                    {{'Organisaationtarkastelu.terveydenhuolto'| i18n}}
                </div>
            </div>
            <div class="view-column cols-5 last">
                <textarea ui-tinymce='{menubar:"false"}' ng-model="model.uriLocalizedNames.TERVEYDENHUOLTOPALVELUT"></textarea>  
            </div>
        </div>

        <div class="view-row">
            <div class="view-column cols-1 first">
                <div class="view-row-label">
                    {{'Organisaationtarkastelu.vakuutukset'| i18n}}
                </div>
            </div>
            <div class="view-column cols-5 last">
                <textarea ui-tinymce='{menubar:"false"}' ng-model="model.uriLocalizedNames.VAKUUTUKSET"></textarea>  
            </div>
        </div>

        <div class="view-row">
            <div class="view-column cols-1 first">
                <div class="view-row-label">
                    {{'Organisaationtarkastelu.opiskelijaliikunta'| i18n}}
                </div>
            </div>
            <div class="view-column cols-5 last">
                <textarea ui-tinymce='{menubar:"false"}' ng-model="model.uriLocalizedNames.OPISKELIJALIIKUNTA"></textarea>  
            </div>
        </div>

        <div class="view-row">
            <div class="view-column cols-1 first">
                <div class="view-row-label">
                    {{'Organisaationtarkastelu.vapaaaika'| i18n}}
                </div>
            </div>
            <div class="view-column cols-5 last">
                <textarea ui-tinymce='{menubar:"false"}' ng-model="model.uriLocalizedNames.VAPAA_AIKA"></textarea>  
            </div>
        </div>

        <div class="view-row">
            <div class="view-column cols-1 first">
                <div class="view-row-label">
                    {{'Organisaationtarkastelu.opiskelijajarjestot'| i18n}}
                </div>
            </div>
            <div class="view-column cols-5 last">
                <textarea ui-tinymce='{menubar:"false"}' ng-model="model.uriLocalizedNames.OPISKELIJA_JARJESTOT"></textarea>  
            </div>
        </div>

    </div> <!-- oeexpanded --> 



    <div class="view-row">&nbsp;</div>
    <div class="view-row">&nbsp;</div>
</form>
<!-- Fixed footer ei näytä hyvältä virkailija framessa...
<div class="view-row fixed-footer" ng-show="model.organisaatio.nimi">
    <hr>
    <br>
    <div class="align-right margin-right-10">
        <button type="button" class="button small" ng-click="cancel()">{{'Organisaationmuokkaus.peruuta'| i18n}}</button>
        <button type="button" class="button small" ng-click="save()">{{'Organisaationmuokkaus.tallenna'| i18n}}</button>
    </div>
    <p>
</div>
-->

<div class="view-row fixed-right" ng-show="model.organisaatio.nimi">
    Muokataan organisaatiota:
    <br>&nbsp;<br>
    <b>{{model.uriLocalizedNames["nimi"]}}</b>
    <br>&nbsp;<br>
    <div class="align-right ">
        <button type="button" class="button small" ng-click="cancel()">{{'Organisaationmuokkaus.peruuta'| i18n}}</button>
        <button type="button" class="button small" ng-click="save()">{{'Organisaationmuokkaus.tallenna'| i18n}}</button>
    </div>
    <p>
</div>