<!-- Organisaation Poisto -->
<div class="modal-header">
    <h3 tt="organisaatio.move.topic">organisaatio.move.topic</h3>
</div>

<div class="modal-body">
    <div class="form-fluid" tt="organisaatio.move.confirm">
        organisaatio.move.confirm
    </div>
    <div>
        <strong>{{current}} -> {{newParent}}</strong>
    </div>
</div>

<div class="modal-footer">
    <div class="form-fluid">
        <button class="btn" ng-click="$dismiss()" tt="Organisaationpoisto.peruuta">Organisaationpoisto.peruuta</button>
        <button class="btn primary" ng-click="$close()" tt="Organisaationpoisto.ok">Organisaationpoisto.ok</button>
    </div>
</div>


