<!-- Organisaation Poisto -->
<div class="modal-header">
    <h3>{{'organisaatio.move.topic' | i18n}}</h3>
</div>

<div class="modal-body">

    <div class="form-fluid">
        {{'organisaatio.move.to.be.moved' | i18n}}: {{nimi}}
        <br/>
        <br/>

        <form>
            <fieldset>
                <label>{{'organisaatio.move.new.parent.organization' | i18n}}</label>

                <ui-select ng-model="options.newParentOrganization" theme="selectize" ng-disabled="disabled">
                    <ui-select-match placeholder="{{'organisaatio.move.new.parent.organization' | i18n}}">
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="suggest in suggests | filter: { name: $select.search }">
                        <span>{{suggest.name}}</span>
                    </ui-select-choices>
                </ui-select>

                <br/>
                <label>{{'organisaatio.move.training' | i18n}}</label>

                <label class="radio">
                    <input type="radio" name="educationAndStudyTarget" id="educationAndStudyTarget1" value="move"
                           ng-model="options.educationAndStudyTarget">
                    {{'organisaatio.move.with.organization' | i18n}}
                </label>
                <label class="radio">
                    <input type="radio" name="educationAndStudyTarget" id="educationAndStudyTarget2" value="remove"
                           ng-model="options.educationAndStudyTarget">
                    {{'organisaatio.move.discontinue' | i18n}}
                </label>

                <br/>

                <label>{{'organisaatio.move.comes.into.effect' | i18n}}</label>

                <input oph-enter type="text"
                       name="luontipvm"
                       formatteddate
                       datepicker-popup="dd.MM.yyyy"
                       min="'1990-01-01'"
                       max="'2030-12-31'"
                       ng-model="options.date"
                       close-on-date-selection="true"
                       ie-placeholder
                       placeholder="{{'organisaatio.move.date' | i18n}}"
                       close-text=""
                       current-text=""
                       clear-text=""
                       toggle-weeks-text=""
                       required/>
            </fieldset>
        </form>
    </div>

</div>


<div class="modal-footer">
    <div class="form-fluid">
        <button class="btn" ng-click="$dismiss()">{{'Organisaationpoisto.peruuta' | i18n}}</button>
        <button class="btn" ng-click="$close(options)">{{'Organisaationpoisto.ok' | i18n}}</button>
    </div>
</div>


