<!-- Yhteystiedon Poisto -->
<div class="modal-header">
    <h3>{{'Yhteystiedonpoisto.otsikko' | i18n}}</h3>
</div>

<div class="modal-body">
    <div class="form-fluid">
        {{'Yhteystiedonpoisto.vahvistus' | i18n}}
    </div>
</div>
<div class="modal-footer">
    <div class="form-fluid">
        <button class="btn" ng-click="$dismiss()">{{'Yhteystiedonpoisto.peruuta' | i18n}}</button>
        <button class="btn" ng-click="$close()">{{'Yhteystiedonpoisto.ok' | i18n}}</button>
    </div>
</div>


