<!-- YritysValinta -->
<div class="modal-header">
    <h3>{{'YritysValinta.otsikko' | i18n}}</h3>
</div>

<div class="modal-body">
    <form class="form-search" novalidate ng-submit="search()">
        <input class="" type="text" ng-model="model.hakuString" ie-placeholder placeholder="{{'YritysValinta.ytunnusTaiNimi' | i18n}}">
        <button class="btn" type="submit">{{'YritysValinta.hae' | i18n}}</button>
    </form>
    <div ng-hide="model.yritykset.length" class="form-row">
        {{'YritysValinta.ohjeteksti' | i18n}}
    </div> 
    <table class="table table-hover">
        <tr style="cursor: pointer;" ng-repeat="yritys in model.yritykset | orderBy:'nimi'" ng-click="select(yritys)">
            <td>{{yritys.nimi}}</td>
            <td>{{yritys.ytunnus}}</td>
        </tr>
    </table> 
    <div>
        <alert ng-repeat="alert in alerts | filter:{showOnTopLevel: false}" type="alert.type" close="alert.close()">{{ alert.msg }}</alert>
    </div>
</div>

<div class="modal-footer" ng-init="withoutselect = withoutselect || !model.hakuString">
    <div class="form-fluid">
        <button class="btn" ng-click="cancel()">{{'YritysValinta.peruuta' | i18n}}</button>
        <button ng-if="withoutselect" class="btn" ng-click="continueWithouSelect()">{{'YritysValinta.jatkaValitsematta' | i18n}}</button>
    </div>    
</div>


