@import "../reindeer/styles.css";

/*.v-app {*/
/*}*/

.v-tree-node-caption-highlight {
    background: yellow;
    font-weight: bold;
}
.customForm .v-caption {
    float: left; /* date komponenttien kanssa caption hyppää oikealle ilman tätä */
    display: inline-block;
}
.customFormTable .v-caption {
    width: 200px;
}
/* esim luo koulutustoimija -lomakkeella custom osoite komponentit */
.customForm .v-customcomponent,
.customForm .v-customcomponent .v-customlayout,
.customForm .v-customcomponent .v-customlayout table {
    display: inline;
}
/* selectit customlayoutissa ei pysy muuten kunnossa */
.customFormTable .v-captionwrapper .v-filterselect {
    display: inline-block;
}
/* komponentit pysymään samalla rivillä */
.customInline .v-captionwrapper {
    display: inline;
}


