.UloinKehys {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}

th:first-of-type, td:first-of-type{
    padding-right: 5rem;
    width:1%;
    white-space:nowrap;
}

th, td{
    padding-right: 5rem;
}
