/* modaalin taustan väri tulee index.css:stä [role=dialog] > div > div perusteella */

.ModaaliKehys.ModaaliKehys {
    border: 1px solid #979797;
    border-top: 3px solid #159ecb;
    border-radius: 0px;
    background-color: #ffffff;
    box-shadow: 0 9px 7px 0 rgba(0, 0, 0, 0.5);
    min-width: min-content;
}

.ModaaliOtsikkoKehys.ModaaliOtsikkoKehys {
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
}

.ModaaliFooterKehys.ModaaliFooterKehys {
    border-top: none;
}
