.greyed {
  color: gray;
}

input.greyed[type="text"] {
    color: gray;
}

img.col-indent-4 {
    position: absolute;
    left: 640px;
    top: inherit;
}

.fixed-header {
    position: fixed; 
    top: 0px; 
    margin: auto; 
    z-index: 100000; 
    width: 100%; 
    opacity:0.9; 
    background: #fff;
} 

.fixed-footer {
    position: fixed; 
    bottom: 0px;
    margin: auto; 
    z-index: 100000; 
    width: 100%; 
    opacity:0.9; 
    background: #fff;
} 

.fixed-right {
    position: fixed; 
    top: 110px;
    right: 30px;
    margin: auto; 
    z-index: 100000; 
    width: auto; 
    opacity:0.9; 
    padding: 0px 13px;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: 5px;
    box-shadow: -1px 1px 1px 0px #dff2f8 inset;
    border: solid 1px #92cce0;
    //background-color: #d2ecf5;
    background-color: #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.expandable {
    position: relative;
    text-indent:25px;
    height:22px;
    vertical-align: middle;
}

.expandable:before{
    background: url(../img/itemtree-collapse-sprite.png);
    content: " ";
    position: absolute;
    height:20px;
    width:20px;
    left: 0px;
}

.expanded:before {
}

.collapsed:before {
    background-position: -20px 0;
}
