/* 
 * Tehty virkailija-raamit.css:n pohjalta (ei sass:llä), siten että raamit eivät riko muuta, eli ilman
 * normalize.css -scheissea.
 */
 
body {
	margin:0;
 	font-family: helvetica,arial,sans-serif;
  	font-size:13px;

}

.virkailija-raamit {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
	
}

.virkailija-raamit a:link {
	text-decoration: none;
}

.virkailija-raamit figure {
	display: inline-block;
	margin:0;
	margin-left:1em;
}

.virkailija-raamit a.authentication {
	float:right;
	margin-right:1em;
}


.virkailija-raamit footer table {
	width: 100%;
	height:100%;
}

.virkailija-raamit footer td {
	width: 25%;
	text-align:center;
	vertical-align:middle;
}

.virkailija-raamit dl {
	margin-bottom: 2em;
	margin: 0 0 1em;
	padding: 0;
}

.virkailija-raamit dl dt {
	font-weight: bold;
	line-height: 1.5em;
	height: 1.5em;
	width: 173px;
	margin: 0 15px 0 0;
	padding: 0;
	text-align: right;
}

.virkailija-raamit dl dd {
	margin: -19px 0 0 195px;
	padding: 0 0 1em;
	line-height: 1.5em;
	height: 1.5em;
}

.virkailija-raamit dl dd:after {
	clear: both;
}

.virkailija-raamit dl dd .virkailija-table-1 {
	width: auto;
}

#raamit-header {
  margin-bottom: 20px;
  background-color: #149ecb;
  padding-top: 10px;
  position: relative;
  min-width: 960px; }
  #raamit-header .header-content {
    background-image: url("../img/navigation-divider.jpg");
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: left bottom;
    height: 38px;
    padding-bottom: 10px; }
    #raamit-header .header-content a {
      color: #fff;
      height: 38px;
      line-height: 38px;
      vertical-align: middle;
      display: inline-block;
      font-size: 1.15385em; }
    #raamit-header .header-content a.authentication {
      display: none; }
  #raamit-header #opintopolku-logo {
    background-image: url("../img/opintopolkufi.png");
    width: 153px;
    height: 34px; }
  #raamit-header .main-navigation {
    background-color: #06526b;
    height: 41px; }
    #raamit-header .main-navigation .navigation {
      margin: 0;
      padding: 0; }
      #raamit-header .main-navigation .navigation div.home {
        display: inline-block;
        padding-top: 11px; }
        #raamit-header .main-navigation .navigation div.home a {
          background-image: url("../img/home.jpg");
          background-repeat: no-repeat;
          width: 35px;
          height: 42px;
          background-position: center;
          padding: 0 20px; }
      #raamit-header .main-navigation .navigation li {
        position: relative;
        list-style: none;
        list-style-type: none;
        display: none;
        top: -1px;
        height: 42px; }
        #raamit-header .main-navigation .navigation li span {
          line-height: 42px;
          padding: 0 10px;
          color: #fff;
          text-decoration: none; }
          #raamit-header .main-navigation .navigation li span:hover {
            cursor: pointer; }
        #raamit-header .main-navigation .navigation li.current span {
          background-color: #0085b1; }
        #raamit-header .main-navigation .navigation li .dropdown {
          background: #fff;
          position: absolute;
          -webkit-box-shadow: 0 1px 1px 0 #888888;
          -moz-box-shadow: 0 1px 1px 0 #888888;
          -o-box-shadow: 0 1px 1px 0 #888888;
          -ms-box-shadow: 0 1px 1px 0 #888888;
          box-shadow: 0 1px 1px 0 #888888;
          z-index: 10000;
          padding-left: 0;
          display: none;
          top: 42px; }
          #raamit-header .main-navigation .navigation li .dropdown a {
            color: #333;
            padding: 0 10px;
            display: block;
            white-space: nowrap;
            height: 27px;
            line-height: 27px;
            display: block;
            font-weight: normal;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -o-box-shadow: none;
            -ms-box-shadow: none;
            box-shadow: none; }
            #raamit-header .main-navigation .navigation li .dropdown a:hover {
              background-color: #feebdb; }
            #raamit-header .main-navigation .navigation li .dropdown a:active {
              background-color: #fedc7d;
              font-weight: bold; }
        #raamit-header .main-navigation .navigation li.action a {
          color: #FFFFFF;
          text-decoration: underline; }

#raamit-footer-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  min-width: 960px; }
  #raamit-footer-container #raamit-footer {
    background-color: #fff;
    border: 1px solid #DCDCDC;
    border-radius: 3px 3px 3px 3px;
    margin-top: 20px;
    clear: both;
    height: 156px; }
    #raamit-footer-container #raamit-footer #oph-logo {
      background-image: url("../img/OPH_logo.png");
      width: 125px;
      height: 91px; }
    #raamit-footer-container #raamit-footer #okm-logo {
      background-image: url("../img/OKM_logo.png");
      width: 138px;
      height: 86px; }
    #raamit-footer-container #raamit-footer .footer-container {
      background: none repeat scroll 0 0 #DCDCDC;
      border-radius: 3px 3px 3px 3px;
      margin: 0.625%;
      padding: 10px 0; }

	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
#app-container {
	min-width: 960px;
	max-width: 1200px;
	margin: 0 auto;
}
	  
	  
	  
	  
	  
	  


/*VIEW CONTROL*/
.view-row {
	width:100%;
	margin:0 0 20px 0;
}
.view-column .view-row {
	margin-bottom:10px;
}  
.view-row:after {
	content:"";
	display:block;
	width:0;
	height:0;
	overflow:hidden;
	clear:both;
}	  

	.view-column {
		float:left;
		width:140px;
		margin:0 10px;
	}
	.showgrid .view-column {
		background:pink;
	}
	.view-column.first {
		margin-left:0;
	}
	.view-column.last {
		margin-right:0;
	}
	.cols-1 {
		width:140px;
	}
	.cols-2 {
		width:300px;
	}
	.cols-3 {
		width:460px;
	}
	.cols-4 {
		width:620px;
	}
	.cols-5 {
		width:780px;
	}
	.cols-6 {
		width:940px;
	}
	.view-column.col-indent-1 {
		margin-left:160px;
	}
	.view-column.col-indent-2 {
		margin-left:320px;
	}
	.view-column.col-indent-3 {
		margin-left:480px;
	}
	.view-column.col-indent-4 {
		margin-left:640px;
	}
	.view-column.col-indent-5 {
		margin-left:800px;
	}
	 
	 
	 
	 
.view-column input ,
.view-column select ,
.view-colunn textarea {
	width:100%;
	box-sizing:border-box;
}
input[type=checkbox] ,
input[type=radio]  {
	width:auto;
	vertical-align:middle;
	line-height:20px;
	margin-top:-2px;
	margin-right:5px;
}
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	 