.virheLomakkeella {
    color: #e05055 !important;
}

.lisattyMargin {
    margin: 1em 0;
}

table.paatosLista {
    width: 100%;
    border-spacing: 0;
    text-align: left;
    line-height: 2.5em;
    margin-bottom: 3em;
}

table.paatosLista thead tr th {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.virheAsettelu {
    margin: auto 0;
}

table.paatosLista tbody tr td {
    padding-right: 3em;
}

table.paatosLista tbody tr td:last-child {
    padding-right: 0;
}

table.paatosLista tbody tr:nth-child(odd) {
    background-color: #fafafa;
}

table.paatosLista tbody tr:last-child td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
