.OtsikkoRivi {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #CCCCCC;
    align-items: center;
}

.Otsikko {
    margin: 1.5rem;
    flex-grow: 1;
}

.LisaaUusiBtn {
    height: 48px;
    margin-right: 1rem;
}

.FiltteriContainer {
}

.FiltteriRivi {
    display: flex;
    flex-direction:row;
    padding: 1.5rem;
    justify-content: space-between;
}

.HakuvalikkoRivi {
    justify-content: space-between;
}

.FiltteriInputOsa {
    min-width: 60vw;
}

.Kentta {
    margin-right: 1rem;
    width: 26rem;
}

.TaulukkoKehys {
    margin: 2rem;
    display: block;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
