.headerContainer {
    display: flex;
    padding: 1rem 1rem;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cccccc;
}

.headerContainerDivider {
    display: inline-flex;
    align-items: baseline;
}

.headerContainerDivider:first-child {
    padding-right: 1rem;
}

.tableCell {
    color: #0a789c;
}

.infoText {
    color: #666666;
}