.headerContainer {
    display: flex;
    padding: 1rem 1rem;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cccccc;
}

.headerContainerDivider {
    display: inline-flex;
    align-items: baseline;
}

.headerContainerDivider:first-child {
    padding-right: 1rem;
}

.tableCell {
    color: #0a789c;
}

.infoText {
    color: #666666;
}

.hyvaksyntaButtonsContainer {
    width: 100%;
    display: flex;
    justify-content: right;
}

.hyvaksyntaButtonsContainer button {
    font-size: 14px;
    padding: 0 10px;
}

.hyvaksyntaButtonsContainer button:not(:first-of-type) {
    margin-left: 12px;
}
