.UloinKehys {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.VasenKolumni {
    display: flex;
    flex-direction: column;
}

.OikeaKolumni {
    display: flex;
    flex-direction: column;
}

.AvainKevyestiBoldattu {
    font-weight: 700;
}