.section {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
}

.child {
    grid-row: 1;
    grid-column: col-start 2 / span 10;
}

.logo {
    margin-top: 1em;
}

.logo img {
    width: 100%;
    height: auto;
}

.varimuutos {
    background-color: #0A789C;
    border-color: #0A789C;
}
