.input {
    height: 40px;
    width: 100%;
    padding: 2px 8px;
    border-radius: 2px;
    border: 1px solid var(--light-gray);
    margin: 1px;
}

.error {
    border: 2px solid var(--red-error);
    margin: 0;
}
