<div id="organisaatioPath" location="organisaatioPath"></div>

<div class="customForm" style="width:780px;">
	 <div class="customFormTable" style="float:left; width:300px;margin-left:10px;margin-top:10px">
		<div location="organisaatiotyyppi"></div>
	
			<div location="organisaatio.oppilaitosKoodi"></div>
			<div location="organisaatio.oppilaitosTyyppi"></div><!-- UUSI!!! -->
			<div location="organisaatio.vuosiluokat"></div><!-- UUSI!!! -->
			
			<div style="display: inline-block;">
				<div location="alkuPvm"></div>
			</div>
			<div style="display: inline-block;">
				<div location="lakkautusPvm"></div> 
			</div>

			<br />
			<div class="customFormTable">
			<div style="display: inline-block;">
				<div location="organisaatio.ytunnus"></div>
				<!--<div location="organisaatio.nimiFi"></div>-->
			</div>
			<div style="display: inline-block;">
				<div location="buttonHaeYtj"></div>
			</div>
		</div>
		<div location="organisaatio.yritysmuoto"></div>
		<div location="organisaatio.kotipaikka"></div>
		<div location="organisaatio.sopimuskunnat"></div><!--  UUSI!!! -->
		<div location="organisaatio.maa"></div>
		<div location="organisaatio.kieli"></div>
		<div location="kayntiosoite"></div>
		<div location="postiosoite"></div>
		<div location="uusiosoite"></div>
		<div location="muuosoite"></div>
		<div location="puhelin.puhelinnumero"></div>
		<div location="faksi.puhelinnumero"></div>
		<div location="email.email"></div>
		<div location="www.wwwOsoite"></div>
		<br />
		<div location="mlNimi"></div>
		<div location="muokkaaNimea"></div><!-- UUSI!!! -->
			
	</div>       				
	<div class="customFormTable" style="float:right; width:453px;">
		<div style="border:1px solid gray" location="organisaatio.gmap"></div>
		<div location="organisaatio.lisatiedot"></div>
	</div>
</div>


