<table>
    <tr>
        <td colspan="2" location="osoiteKayttotarkoitus">
        </td>
    </tr>
    <tr>
        <td location="osoiteMuuKaytto">
        </td>
        <td location="poistaPainike">
        </td>
    </tr>
    <tr>
        <td colspan="2" location="osoite">
            <input type="text" value="osoite" style="width: 100%;"/>
        </td>
    </tr>
    <tr>
        <td location="postinumero">
            <input type="text" value="postinumero"/>
        </td>
        <td location="postitoimipaikka">
            <input type="text" value="postitoimipaikka"/>
        </td>
    </tr>
    <tr>
        <td colspan="2" location="osavaltio">
        </td>
    </tr>
    <tr>
        <td colspan="2" location="extraRivi">
        </td>
    </tr>
    <tr>
        <td colspan="2" location="maa">
        </td>
    </tr>
</table>
