<div class="customForm">
	<div location="errorView"></div>
	<br />
    <div style="width:670px;margin-left:10px;margin-top:10px">
		<h3><div location="formOtsikko"></div></h3>
		<div style="float:left; width:350px;">

        <div location="yttNimi"></div>
        <div location="nimi"></div>
        <!-- <div location="nimiSv"></div>-->
        <br />
        <!-- <br />
        <div location="kSelite"></div>
        <div location="pSelite"></div>
        <br />
        <div style="display: inline-block;">
            	<span location="kaytossa"></span>
        </div>
        <div style="display: inline-block;">
            	<span location="pakollinen"></span>
        </div>-->
        <br />
        <div location="yttNimitiedot"></div>
        <div location="nimitiedot"></div>
        <div location="nimiketiedot"></div>
		<br/>
        <div location="yttOsoitteet"></div>
        <div location="osoitetyypit"></div>
        <div location="muutOsoitteet"></div>
        <div location="muuOsoite"></div>

        <div location="yttPuhelinnumerot"/></div>
        <div location="puhelinnumerotyypit"></div>
        <div location="muutPuhelimet"></div>
        <div location="muuPuhelin"></div>

        <div location="yttSahkoiset"></div>
        <div location="sahkoisetYttyypit"></div>
        <div location="muutSahkoiset"></div>
        <div location="muuSahkoinen"></div>
    </div>

    <div style="float: right; width: 300px;">
       <div location="yttOrg"></div>
       <div location="sovellettavatOrganisaatiotyypit"></div>     
    </div>
    
    <!--<div location="peruNappi"/>-->
</div>
