.FiltteriRivi {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.InputContainer {
    display: flex;
}

.SearchInput.SearchInput {
    width: 55vw;
}
.LoadingBubblesContainer {
    height: 2.4rem;
    width: 3rem;
    display: flex;
    padding-left: 1rem;
    align-items: center;
}

.DropdownContainer {
    display: flex;
    flex-wrap: wrap;
}

.FiltteriInputOsa > label {
    padding-left: 2rem;
}

.CheckboxContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.CheckboxContainer label {
    padding-left: 1rem;
}
.CheckboxContainer label:first-of-type {
    padding-left: 0;
}

.TyhjennaNappiKentta {
    padding-top: 1.4rem;
}

.Kentta {
    margin-right: 1rem;
    width: 26rem;
}
