td {
    height: 3rem;
    width: 1%;
}

td.collapse.collapse,
th.collapse.collapse {
    width: 0.0000000001%;
}

.PaginationContainer {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.PaginationSivunvaihto {
    margin: auto;
}

.PaginationYhteensa {
    align-self: flex-end;
}

.NaytaSivullaSelect {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    width: 2rem;
    background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
        no-repeat right;
    background-position-x: 0.7rem;
}

.LippuNappi {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.SininenTausta {
    background: #159ecb;
}

.PunainenTausta {
    background: #e44e4e;
}

.Expander.Expander {
    padding-right: 1rem;
}
